// responsive mixin 

@mixin responsive($breakpoint) {
    @if $breakpoint == 'phone' {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $breakpoint == 'tablet' {
        @media (min-width: 768px) and (max-width: 1023px) {
            @content;
        }
    }
    @else if $breakpoint == 'desktop' {
        @media (min-width: 1024px) {
            @content;
        }
    }
}